<h1>Admin Dashboard</h1>
<ul class="alert alert-info">
<li><h3>Products in database count: <%= @products_count %></h2></li> <%= link_to 'Admin Products List',  [:admin, :products] %>
<li><h3>Categories in database count: <%= @categories_count %></h3></li> <%= link_to 'Home Page', :root  %>
</ul>