<h1>About Us</h1>
<br>
<p>
"Welcome to the Jungle, where fine goods and quality service come together to make something special. Ever felt like purchasing a spy phone for way too much? we've got you covered.
 How about a shirt for a price that actually isn't all that bad? You betcha! Anything you need we probably don't have but how about some human feet shoes??
  everyones always wanted a pair of those right!? Anyways our mission here at Jungle is to supply good people with good items so why are you waiting? Buy something."
</p>

